@font-face{
    font-family: 'apple kid';
    src: url('../Fonts/curtain_call.woff') format('truetype');
}
@font-face{
    font-family: 'apple kid';
    src: url('../Fonts/curtain_call.woff') format('truetype');
}
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Kanit&family=Shippori+Antique&display=swap" rel="stylesheet">

*{
    font-family:  'Cinzel', serif;
    
}

body,ul, li, h1, h2, a {
    margin:0;
    padding:0;

}

body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{   
background-color:rgb(26, 26, 0, 0.8);
position:fixed;
width:100%;
z-index:1;
top:0;
left:0;
right:0;
text-align: center;
}

.banner {
    position:relative;
    max-height: 80vh;
    background-image: url('../img/large.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vmax;
}

.banner .welcome{
    background-color:rgb(26, 26, 0, 0.9);
    color:honeydew;
    position: absolute;
    padding: 20px;
    left:9%;
    top:70%;
}
.banner h2{
    font-size:30px;
    font-family: 'apple kid';
}

.banner h2 span{
    font-family: inherit;
    font-size: 1.3em;
}

.main-nav{
    background-color: rgba(168, 14, 109, 0.8);
    padding:25px; 
    position: sticky;
    top:73px;
}

.main-nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin:0;
}
.main-nav li{
    width: 32%;
    display: inline-block;
    font-size: 28px;
    text-align: center;
    
}
.main-nav li a{
    text-decoration: none;
    color: rgb(221, 217, 216);
    font-family: inherit;
    font-size: 30px;
    font-weight: bold;
    
}
 main{
    max-width: 100%;
    width: 1200px;  
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
main article{
    font-size: 20px;
}

article h2{
    color: rgb(53, 7, 15);
    font-family: 'apple kid';
    font-size: 50px;
}
article p{
    line-height: 2em;
    color:rgb(31, 18, 20);
}
.images{
    text-align: center;
    margin: 70px 0;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width:40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}

.join{
    background-color:rgba(243, 199, 232, 0.5);
    color:rgb(163, 158, 157);
    text-align: center;
    padding: 20px 20px;
    
}    
.join h2{    
    font-size: 36px;    
}
form input{
    margin:20px 0;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    border-radius: 28px;
    border: 2px solid rgb(221, 217, 216);
}
footer{
    background-color:rgb(26, 26, 0, 0.8);
    color: rgb(221, 217, 216);
    padding: 10px;
    text-align: center;
}

/*pseudo classes*/

.main-nav li:hover{
    background-color:rgba(243, 199, 232, 0.5) ;
}
.images li:hover{
    position:relative;
    top:-4px;
}
form input:focus{
    border:5px;
    color:rgb(26, 26, 0, 0.8);
}
form input:valid{
    border: 4px solid rgb(128, 0, 79);
}